

.main-container {
    width: 100%;
    margin-top: 50mm;
 
}

.search-box{
    position: absolute;
    left: 50%;
    margin-left: -50px; 
    /* text-align: center; */
}

input {
    display: flex;
    flex-direction: row;
    border-radius: 2mm;
    width: 50%;
    box-shadow: none;
    height: 3mm;
    margin-left: 20%;
}

#name-ul {
    position: absolute;
    left: 50%;
    top: 50%;
    list-style-type: none;
}



